@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

:root{
    --purple: #7159C1;
    --white: #fff;
    --black: #000;
    --blue: #0b3c5c;
    --blue2: #1a88d1;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
}

body { 
    background: #cfcfcf;
    font-family: 'Roboto', sans-serif;
}

header{
    padding: 30px;
    background: #acacac;
}

header div {
    text-align: center;
}

header div a{
    color: var(--white);
    font-size: 18px;
    line-height: 28px;
    text-decoration: none;
    margin: 0 30px;
}

header div a:hover{
    color: var(--purple);
    transition: color 400ms;
}

.wrapper{
    text-align: center;
    margin: 60px 32px;
}

.wrapper img{
    border-radius: 50%;
    height: 250px;
    border: 6px solid var(--white)
}

.wrapper h1{
    padding: 32px;
    font-size: 32px;
    font-weight: 900;
}

.wrapper p{
    max-width: 700px;
    margin: 32px auto 10px;
    font-size: 18px;
    line-height: 28px;
}

.wrapper li{
    list-style: none;
}

#social a{    
    text-decoration: none;
    margin: 0 15px;
    color: var(--black);
    border-bottom: 2px solid var(--purple);
}

#social a:hover{
    color: var(--purple);
    transition: color 400ms;
}

/* CURSOS */
.cursos {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}

.curso {
    background-color: var(--blue);
    text-align: center;
    padding: 60px 40px;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0,0,0,0.5);
    cursor: pointer;
}

.curso-content, .curso-info{
    width: 100%;
    margin-top: 40px;
    /* background-color: var(--blue2); */
    color: var(--white);
}

.curso .curso-content p{    
    font-size: 15px;
    line-height: 25px;  
}

.curso-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    font-size: 13px;
    line-height: 23px; 
}

.curso-info .curso-value{
    background-color: var(--blue2);
    border-radius: 5px;
}

/* modal */
.modal-overlay{
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;    
    opacity: 0;
    visibility: hidden;
}

.modal{
    background-color: var(--white);
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;    
    border-radius: 5px;
}

.modal .close-modal{
    color: var(--blue2);
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* abrindo modal */
.modal-overlay.maximize{
    opacity: 1;
    visibility: visible;
}

iframe{
    width: 100%;
    height: 90%;
    position: absolute;
    top: 5%;
}